.bundle/
log/*.log
pkg/
doc/rdoc
.sass-cache
*.iml
.generators
.idea
.rakeTasks

# local setup
.envrc
.tool-versions

# ignore Gemfile.lock for wagons
Gemfile.lock

# reports
spec/coverage
spec/reports
brakeman-output.tabs
rubocop-results.xml
